{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "env": {
    "jasmine": true
  },
  "globals": {
    "$": true,
    "jQuery": true,
    "casper": true,
    "getWarnCount": true
  },
  "rules": {
    "no-multi-str": 0,
    "object-curly-spacing": 0,
    "array-bracket-spacing": 0
  }
}
