{
  "root": true,
  "parser": "babel-eslint",
  "extends": "vue",
  "plugins": ["flowtype"],
  "globals": {
    "__WEEX__": true
  },
  "rules": {
    "no-useless-escape": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  }
}
