#todoapp.all [href="#/all"],
#todoapp.active [href="#/active"],
#todoapp.completed [href="#/completed"] {
    font-weight: bold;
}

#todoapp.active .todo.completed {
    display: none;
}

#todoapp.completed .todo:not(.completed) {
    display: none;
}