<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue example</title>
    <link rel="stylesheet" href="style.css">
    <script src="../../dist/vue.js"></script>
  </head>
  <body>

    <div id="app"/>

    <script>
new Vue({
  el: '#app',
    data: "test",
    <!-- data: { -->
    <!--   slotNames: ["slot1", "slot2"] -->
    <!-- }, -->
    template: `
      <div>hello</div>
    `,
    <!-- watch: () => "wrong", -->
    watch: {
      slotNames: function (slotNames) {
        console.log(slotNames)
      }
    },
    components: {
      test: {
        template: `
          <div ref="test">
            <slot name="slot1" msg="hello"></slot>
            <slot name="slot2" msg="world"></slot>
          </div>
        `
      }
    }
})
    </script>

  </body>
</html>



<!-- <test ref="test"> -->
<!--   <template scope="props"> -->
<!--   <template name="slot1" scope="props"> -->
<!--   <template name="slot1"> -->
<!--     <span></span> -->
<!--   </template> -->
<!-- </test> -->



<!-- <div> -->
<!--   <slot :msg="msg"></slot> -->
<!--   <slot msg="hello">hello-inner</slot> -->
<!--   <slot :msg="msg" name="slot1">hello-inner</slot> -->
<!--   <slot :msg="msg" name="slot1"></slot> -->
<!--   <slot>hello-inner</slot> -->
<!--   <slot msg="hello" name="slot1">hello-inner</slot> -->
<!--   <slot msg="hello" name="slot1">hello-inner</slot> -->
<!--   <slot msg="world" name="slot2">worl-inner</slot> -->
<!-- </div> -->

<!-- <div> -->
<!--   <slot>hello-inner</slot> -->
<!-- </div> -->

<!-- <div> -->
<!--   <slot msg="hello"></slot> -->
<!-- </div> -->














<!-- Vue.component('parent', { -->
<!--     template: ` -->
<!--       <div> -->
<!--         <child> -->
<!--           <1!-- named and scoped --1> -->
<!--           <1!-- <template v-for="item in slotNames" :slot="item" scope="props">{{ props.text }}</template> --1> -->
<!--           <1!-- <template slot="slot1" scope="props">{{ props.text }}</template> --1> -->
<!--           <1!-- <template slot="slot2" scope="props">{{ props.text }}</template> --1> -->

<!--           <1!-- just named --1> -->
<!--           <1!-- <template v-for="item in slotNames" :slot="item"></template> --1> -->
<!--           <slot name="slot1"></slot> -->
<!--           <slot name="slot2"></slot> -->
<!--         </child> -->
<!--       </div> -->
<!--     `, -->
<!--     data: function () { -->
<!--       return { -->
<!--         slotNames: ["slot1", "slot2"] -->
<!--       } -->
<!--     } -->
<!-- }); -->

<!-- Vue.component('child', { -->
<!--     template: ` -->
<!--       <div> -->
<!--         <1!-- <slot name="slot1" text="1"></slot> --1> -->
<!--         <1!-- <slot name="slot2" text="2"></slot> --1> -->
<!--         <1!-- <slot name="slot1">1</slot> --1> -->
<!--         <1!-- <slot name="slot2">2</slot> --1> -->
<!--         <slot name="slot1" text="1">1</slot> -->
<!--         <slot name="slot2" text="2">2</slot> -->
<!--       </div> -->
<!--     ` -->
<!-- }); -->
