<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue example</title>
    <link rel="stylesheet" href="style.css">
    <script src="../../dist/vue.js"></script>
  </head>
  <body>

    <div id="app"/>

    <script>

var test = {
  created: function () {
    this.hello()
  },
  methods: {
    hello: function () {
      console.log('hello from mixin!')
    }
  }
}

const injectedComp = {
  inject: ['foo', 'bar'],
  render () {},
  created () {
    console.log(this.foo);
    injected = [this.foo, this.bar]
  }
};

new Vue({
  el: '#app',
  template: `<child/>`,
  provide: {
    foo: 1,
    bar: false
  },
  components: {

    child: {
      template: `<injected-comp/>`,
      components: {
        injectedComp
      }
    }

    <!-- child: { -->
    <!--   template: ` -->
    <!--     <div> -->
    <!--       foo: {{foo}} -->
    <!--     </div> -->
    <!--   `, -->
    <!--   inject: ['foo', 'bar'], -->
    <!--   render () {}, -->
    <!--   created () { -->
    <!--     injected = [this.foo, this.bar] -->
    <!--   } -->
    <!-- } -->

  }
})

<!-- new Vue({ -->
<!--   el: '#app', -->
<!--     mixins: [test], -->
<!--     provide: { foo: 'bar' }, -->
<!--     data: { -->
<!--       foo: 'bar' -->
<!--     }, -->
<!--     template: ` -->
<!--       <div> -->
<!--         <test></test> -->
<!--         <span :v-bind="hello()"></span> -->
<!--         <span :v-bind="foo"></span> -->
<!--       </div> -->
<!--     `, -->
<!--     components: { -->
<!--       test: { -->
<!--         inject: [foo], -->
<!--         template: ` -->
<!--           <div ref="test"> -->
<!--             {{ foo }} -->
<!--             <slot name="slot1" msg="hello"></slot> -->
<!--             <slot name="slot2" msg="world"></slot> -->
<!--           </div> -->
<!--         ` -->
<!--       } -->
<!--     } -->
<!-- }) -->
    </script>

  </body>
</html>



<!-- <test ref="test"> -->
<!--   <template scope="props"> -->
<!--   <template name="slot1" scope="props"> -->
<!--   <template name="slot1"> -->
<!--     <span></span> -->
<!--   </template> -->
<!-- </test> -->



<!-- <div> -->
<!--   <slot :msg="msg"></slot> -->
<!--   <slot msg="hello">hello-inner</slot> -->
<!--   <slot :msg="msg" name="slot1">hello-inner</slot> -->
<!--   <slot :msg="msg" name="slot1"></slot> -->
<!--   <slot>hello-inner</slot> -->
<!--   <slot msg="hello" name="slot1">hello-inner</slot> -->
<!--   <slot msg="hello" name="slot1">hello-inner</slot> -->
<!--   <slot msg="world" name="slot2">worl-inner</slot> -->
<!-- </div> -->

<!-- <div> -->
<!--   <slot>hello-inner</slot> -->
<!-- </div> -->

<!-- <div> -->
<!--   <slot msg="hello"></slot> -->
<!-- </div> -->














<!-- Vue.component('parent', { -->
<!--     template: ` -->
<!--       <div> -->
<!--         <child> -->
<!--           <1!-- named and scoped --1> -->
<!--           <1!-- <template v-for="item in slotNames" :slot="item" scope="props">{{ props.text }}</template> --1> -->
<!--           <1!-- <template slot="slot1" scope="props">{{ props.text }}</template> --1> -->
<!--           <1!-- <template slot="slot2" scope="props">{{ props.text }}</template> --1> -->

<!--           <1!-- just named --1> -->
<!--           <1!-- <template v-for="item in slotNames" :slot="item"></template> --1> -->
<!--           <slot name="slot1"></slot> -->
<!--           <slot name="slot2"></slot> -->
<!--         </child> -->
<!--       </div> -->
<!--     `, -->
<!--     data: function () { -->
<!--       return { -->
<!--         slotNames: ["slot1", "slot2"] -->
<!--       } -->
<!--     } -->
<!-- }); -->

<!-- Vue.component('child', { -->
<!--     template: ` -->
<!--       <div> -->
<!--         <1!-- <slot name="slot1" text="1"></slot> --1> -->
<!--         <1!-- <slot name="slot2" text="2"></slot> --1> -->
<!--         <1!-- <slot name="slot1">1</slot> --1> -->
<!--         <1!-- <slot name="slot2">2</slot> --1> -->
<!--         <slot name="slot1" text="1">1</slot> -->
<!--         <slot name="slot2" text="2">2</slot> -->
<!--       </div> -->
<!--     ` -->
<!-- }); -->
